<ion-header [translucent]="true" >
  <ion-row size="12"></ion-row>
    <ion-toolbar>
      <ion-img src="assets/banner/banner1.png" style="width: 100%; margin: auto;"></ion-img>
        <ion-buttons slot="end">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="articles-background-color">
  
    <ion-card class="articles-background-color-card" 
    *ngIf="isLoading == true">

    <ion-card-header>
        <ion-img src="{{ datas[myId].urlToImage }}"></ion-img>
        <h3>"{{ datas[myId].title }}"</h3>
      </ion-card-header>
      <ion-card-content>
      <h4> {{ datas[myId].desc }} </h4>
      <h5> {{ datas[myId].content }} </h5>
      <p>Author: {{ datas[myId].owner }} </p>
      </ion-card-content>

      <ion-toolbar lines="true">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
          <ion-icon name="newspaper" size="large"></ion-icon>
          </ion-buttons>      
      </ion-toolbar>
    </ion-card>     

</ion-content>


<ion-footer color="danger">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>          
        <ion-img src="assets/icon/icon2.png" style="width: 45px; height: 45;"></ion-img>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>