ion-header {
    ion-toolbar {
      width: 100vw;
      height: auto;
      padding: .5rem;
      padding-left: 12px;
      img {
        width: 50%;
        padding-left: -30px;
      }
      .title-page {
        padding: 0;
      }
    }
  }

  .dowhateverittakes-font-small{
    padding: 0;
    font-size: small;
}

  ion-title.large-title {    
    font-size: 30px;
  }

  ion-title.small-title {
    font-size: 5px;
  }

  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;   
  }
