<ion-header [translucent]="true" >
  <ion-row size="12"></ion-row>
    <ion-toolbar>
      <ion-img src="assets/banner/banner1.png" style="width: 100%; margin: auto;"></ion-img>
        <ion-buttons slot="end">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-card *ngFor="let data of datas; index as i" (click)="viewDetails(i)">
      <ion-card-header>
        <h2> <b> {{data.title}} </b> </h2>
          <br>
          <div *ngIf="data.id; else elseBlock">     
            <ion-img src= "{{data.urlToImage}}"></ion-img>
          </div>
        <ng-template #elseBlock>
            <img src="assets/images/inf.png"> </ng-template>
      </ion-card-header>
        <ion-card-content>        
          <h3> {{data.desc}} </h3>
          <br>
          <i> <b> Credits: </b> </i>
          <br>
          <i> <b> Picture by: {{data.owner}} </b> </i>
          <br>
          <i> <b> {{data.credits}} </b> </i>
        </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>  
 </ion-content>


 <ion-footer color="danger">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>          
        <ion-img src="assets/icon/icon2.png" style="width: 45px; height: 45;"></ion-img>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>