<ion-header [translucent]="true" >
  <ion-row size="12"></ion-row>
    <ion-toolbar>
      <ion-img src="assets/banner/banner1.png" style="width: 100%; margin: auto;"></ion-img>
        <ion-buttons slot="end">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="danger">
  <ion-row>
    <ion-col size="12" *ngFor="let rule of rules">
      <ion-card>        
        <ion-card-header>
          <h3><b>{{rule.label}}</b></h3>
          
        </ion-card-header>
          <ion-card-content>
          <h1> "{{rule.title}}" </h1>
          <ion-img src="{{rule.img}}"></ion-img>
          <br>
          <h3> "{{rule.desc}}" </h3>
          <br>
          <i><b> Photo Credits to: {{ rule.credits}}</b></i>

          </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- infinite scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>  

</ion-content>

<ion-footer color="danger">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>          
        <ion-img src="assets/icon/icon2.png" style="width: 45px; height: 45;"></ion-img>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>